.dashboard-main-cnt {
  display: flex;
  height: 100vh;
  margin-top: 70px;
}

.drawer-icon-cnt {
  position: fixed;
  top: 70px;
  left: 20px;
  height: calc(100vh - 70px);
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease, padding 0.3s ease;
  width: 60px;
  z-index: 1000;
  overflow: hidden;
}

.drawer-icon-cnt.open {
  width: 200px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.drawer-icon-item {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Reduced from 20px to 10px */
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.drawer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.drawer-icon-text {
  display: none;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drawer-icon-cnt.open .drawer-icon-text {
  display: inline-block;
  opacity: 1;
}

.drawer-icon-item:hover {
  background-color: #fa8805;
  border-radius: 10px;
}

.dashboard-outlet-cnt {
  margin-left: 0px;
  padding: 10px;
  width: calc(100% - 60px);
}

@media only screen and (max-width: 480px) {
  .drawer-icon-cnt {
    width: 50px;
  }

  .drawer-icon-cnt.open {
    width: 150px;
  }

  .dashboard-outlet-cnt {
    margin-left: 50px;
    width: calc(100% - 50px);
  }

  .drawer-icon-item {
    margin: 8px 0; /* Reduced gap for smaller screens */
  }

  .drawer-icon {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }

  .drawer-icon-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .drawer-icon-cnt {
    width: 60px;
  }

  .drawer-icon-cnt.open {
    width: 180px;
  }

  .dashboard-outlet-cnt {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  .drawer-icon-item {
    margin: 10px 0; /* Reduced gap */
  }

  .drawer-icon {
    font-size: 22px;
    width: 35px;
    height: 35px;
  }

  .drawer-icon-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .drawer-icon-cnt {
    width: 70px;
  }

  .drawer-icon-cnt.open {
    width: 200px;
  }

  .dashboard-outlet-cnt {
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .drawer-icon-item {
    margin: 12px 0; /* Adjusted gap */
  }

  .drawer-icon {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }

  .drawer-icon-text {
    font-size: 16px;
  }
}
