.note-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px;
    padding: 16px;
    margin-left: 4%;
}
body, html {
    overflow: auto;
}

.empty-trash-img {
  height: 500px; 
  width: 500px; 
  object-fit: contain;
 
}

@media only screen and (max-width: 480px) {
    .note-container {
      grid-template-columns: 1fr; 
      gap: 20px; 
      margin-left: 2%; 
      padding: 8px; 
    }
  }
  
 
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .note-container {
      grid-template-columns: repeat(2, 1fr); 
      gap: 30px; 
      margin-left: 3%; 
      padding: 12px; 
    }
  }
  
 
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .note-container {
      grid-template-columns: repeat(3, 1fr); 
      gap: 40px; 
      margin-left: 4%; 
      padding: 16px; 
    }
  }
  
  
  @media only screen and (min-width: 1025px) {
    .note-container {
      grid-template-columns: repeat(4, 1fr); 
      gap: 50px;
      margin-left: 4%; 
      padding: 16px; 
    }
  }
  