

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .main {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); 
  }
  
  
#head-text {
    color: orange;
    font-size: 2rem;
    text-align: center;
}

.name-container,
.password-container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.password-container {
    margin-top: 15px;
}

.firstLine,
.secondLine {
    font-size: 18px;
    text-align: center;
}

.line1 {
    margin-top: 1%;
    font-size: 12px;
    color: #007BFF;
    margin-right: 58%;
}

.signin-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
    width: 100%;
}

.line3 {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #007BFF;
    width: 50%;
    margin-left: 12px;
}

.submit-btn {
    width: 100%;
    margin-top: 10px;
    background-color: orange;
    color: white;
    padding: 10px;
    
    border-radius: 5px;
}

.emailErr,
.passwordErr {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    margin-left: 90px;
}

.buttoncnt {
    display: flex;
    width: 20%;
    margin-right: 70px;
}



@media only screen and (max-width:480px) {
    #head-text {
        font-size: 1rem;
    }

    .main {
        width: 92%;
        padding: 15px;
        height: 23rem;
    }
    .firstLine, .secondLine {
        font-size: 13px;
        text-align: center;
    }
    .signin-register {
        display: flex;
        margin-top: 40px;
       
        justify-content: space-between;
        align-items: center;
        
    }

    .emailErr {
        color: red;
        font-size: 12px;
        margin-top: -9px;
        text-align: left;
        width: 100%;
        margin-left: 90px;
    }
    .passwordErr {
        color: red;
        font-size: 12px;
        margin-top: -47px;
        text-align: left;
        width: 100%;
        margin-left: 90px;
    }
    .line3 {
        font-size: 12px;
    }
    .submit-btn {
        padding: 8px;
    }
    .line1{
        margin-right: 0;
    }
    .name-container,
    .password-container {
        align-items: center;
        width: 112%;
        display: flex;
        flex-direction: column;
        height: 64px;
    }
}


@media only screen and (min-width:481px) and (max-width:768px) {
    .main {
        width: 80%;
    }
    .emailErr, .passwordErr {
        flex: 1 0 5rem;
    }
    .signin-register {
        flex-direction: column;
        margin-left: 0;
    }
}


@media only screen and (min-width:769px) and (max-width:1024px) {
    .main {
        width: 100%;
    }
    #head-text {
        font-size: 2.5rem;
    }
}


@media only screen and (min-width:1025px) {
    .main {
        width: 450px;
    }
}